@font-face {
  font-family: "Roboto-thin";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-thin.woff2") format("woff2"),
    url("../fonts/roboto-thin.woff") format("woff");
}

@font-face {
  font-family: "Roboto-light";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto-black";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-black.woff2") format("woff2"),
    url("../fonts/roboto-black.woff") format("woff");
}
