<footer class="footer">

  <div class="footer__middle">

    <div class="footer__logo">
      <picture>
        <source media="(min-width: 768px)" srcset="img/content/logo-desktop.png 1x, img/content/logo-desktop@2x.png 2x">
        <img src="img/content/logo.png" srcset="img/content/logo.png 1x, img/content/logo@2x.png 2x" alt="fund4se">
      </picture>
    </div>

    <div class="footer__contacts  contacts">
      <p class="contacts__text">FUND4SE<br>
        <span class="contacts__name">Fund for Sustainability and Energy</span><br>
        1 George street #10-01<br>
        Singapore<br>
        049145
        <a class="contacts__link  contacts__link--map" href="#">Map</a>
      </p>

      <p class="contacts__links">
        <a class="contacts__link  contacts__link--call" href="tel:+65 9116 1074">+65 9116 1074</a><br>
        <a class="contacts__link  contacts__link--mailto" href="mailto:info@f4se.com">info@f4se.com</a><br>
      </p>
    </div>

    <nav class="footer__nav nav desktop-only">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">Main</a></li>
        <li class="nav__item"><a class="nav__link" href="#">About</a></li>
        <li class="nav__item"><a class="nav__link" href="#">For Investors</a></li>
        <li class="nav__item"><a class="nav__link" href="#">For Startups</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
      </ul>
    </nav>

  </div>

  <section class="footer__social social">
    <h2 class="visually-hidden">Links to social network</h2>
    <a href="https://www.twitter.com/olga.duka.5682" class="social__btn">
      <svg class="social__img social__img--tw" width="30px" height="30" aria-label="Twitter">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
      </svg>
    </a>
    <a href="https://www.facebook.com/olga.duka.5682" class="social__btn">
      <svg class="social__img social__img--fb" width="30px" height="30" aria-label="Facebook">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
      </svg>
    </a>
    <a href="https://instagram.com/id4713486" class="social__btn"">
      <svg class="social__img social__img--insta" width="20px" height="30" aria-label="Instagram">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
      </svg>
    </a>
    <a href="mailto:info@f4se.com" class="social__btn">
      <svg class="social__img social__img--email" width="35px" height="30" aria-label="Email">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email"></use>
      </svg>
    </a>
    <a href="tel:+65 9116 1074" class="social__btn">
      <svg class="social__img social__img--tel" width="15px" height="30" aria-label="Phone">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tel"></use>
      </svg>
    </a>
  </section>

</footer>
