<div class="header">

  <div class="header__logo logo">
    <h1 class="header__title visually-hidden">FUND4SE</h1>
  </div>

  <button class="header__burger">Toggle menu</button>

  <nav class="header__menu menu menu--nojs">
    <ul class="menu__list">
      <li class="menu-item menu-item--active"><a href="index.html">Main</a></li>
      <li class="menu-item"><a href="about.html">About</a></li>
      <li class="menu-item"><a href="investors.html">For Investors</a></li>
      <li class="menu-item"><a href="startups.html">For Startups</a></li>
      <li class="menu-item"><a href="contacts.html">Contacts</a></li>
    </ul>
  </nav>

  <div class="header__contacts">
    <p class="contacts__text">Fund for Sustainability and Energy<br>
      1 George street #10-01<br>
      Singapore<br>
      049145
    </p>
    <p class="contacts__links">
      <a class="contacts__link  contacts__link--call" href="tel:+65 9116 1074">+65 9116 1074</a><br>
      <a class="contacts__link  contacts__link--mailto" href="mailto:info@f4se.com">info@f4se.com</a><br>
    </p>
  </div>

</div>
