.actionplan {
  @include container(0, 0);
  margin-bottom: 112px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include desktop {
    margin-bottom: 130px;
  }
}

.actionplan__img img {
  width: 100%;
  margin-bottom: 5px;

  @include desktop {
    margin-bottom: 30px;
  }
}

.actionplan__text {
  padding-left: 20px;
  padding-right: 20px;

  @include title-light($navi-blue, 18px, 30px, 14px, 23px, 20px, 33px, $red-peach);

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}
