.contacts {
  @include container(0,0);
  width: 100%;
  height: auto;
  min-height: 486px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @include mobile-only {
    @include retina(2) {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }

  @include tablet {
    margin-bottom: 30px;
    min-height: 260px;
    background-size: contain;
    background-image: url("../img/map-tablet@1x.jpg");

    @include retina(2) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @include desktop {
    min-height: 400px;
    margin-bottom: 37px;
    background-image: url("../img/map-desktop@1x.jpg");

    @include retina(2) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__map {
  width: 100%;
  min-height: 486px;

  @include tablet {
    min-height: 260px;
  }

  @include desktop {
    min-height: 400px;
  }
}


.contacts__wrap {
  width: 284px;
  height: 250px;
  padding: 5px 0 22px 10px;
  background-color: $white;
  position: absolute;
  top: 57px;
  left: 5%;

  &::after {
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: -40px;
    right: 18px;
    background-image: url("../img/svg-sprite/logo-map.svg");
    background-size: 72px 72px;
  }

  @include tablet {
    width: 290px;
    height: 216px;
    top: 20px;
    left: 70px;

    &::after {
      width: 42px;
      height: 42px;
      right: -30px;
      top: -8px;
      background-size: 42px 42px;
    }
  }

  @include desktop {
    width: 304px;
    height: 256px;
    top: 74px;
    left: 166px;

    &::after {
      width: 72px;
      height: 72px;
      right: -36px;
      top: -35px;
      background-size: 72px 72px;
    }
  }
}

.contacts__title {
  margin-bottom: 10px;
  @include font-bold();

  @include tablet {
    margin-bottom: 4px;
  }

  @include desktop {
    margin-bottom: 10px;
  }
}

.contacts__text {
  margin: 0;
}

.contacts__links {
  margin-top: 20px;

  @include tablet {
    margin-top: 4px;
  }

  @include desktop {
    margin-top: 18px;
  }
}

.contacts__link {

  @include underline-appear-hover(1px, 0, $default-font-color, $default-font-color);
}

.contacts__link--mailto {
  @include underline-lose-hover(1px, 0, $default-font-color, $default-font-color);
}

.contacts__link--call {
  text-decoration: none;
  @include font-bold();
}
