.criteria {
  @include container();
}

.criteria__title {
  position: relative;

  @include title($navi-blue, 30px, 35px, 30px, 35px, 42px, 49px, transparent, none);

  @include red-line(77px, -30px);

  @include tablet {
    max-width: 487px;
    margin-left: 123px;
    margin-bottom: 25px;

    @include red-line(101px, 18px, -123px);
  }

  @include desktop {
    max-width: 820px;
    margin-left: 180px;
    margin-bottom: 20px;

    @include red-line(143px, 24px, -180px);
  }
}

.criteria__wrap-img {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 7px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    margin-bottom: 15px;
  }
}

.criteria__img {
  margin-bottom: 8px;
  flex-grow: 1;

  img {
    width: 100%;
  }

  @include tablet {
    &:nth-of-type(1) {
      margin-right: 10px;
    }

    &:nth-of-type(2) {
      margin-left: 10px;
    }
  }

  @include desktop {
    &:nth-of-type(1) {
      margin-right: 18px;
    }

    &:nth-of-type(2) {
      margin-left: 18px;
    }
  }
}

.criteria__list {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.criteria__item {
  width: 100%;
  margin-bottom: 13px;
  padding-left: 22px;
  padding-right: 18px;

  @include title-light($navi-blue, 18px, 30px, 18px, 30px, 20px, 33px, transparent, none);
  border-left: 1px solid $red-peach;

  @include tablet {
    margin-bottom: 12px;
    padding-left: 30px;
    padding-right: 0;
    max-width: 49%;
    align-self: baseline;
  }

  @include desktop {
    margin-bottom: 20px;
    padding-left: 42px;
    padding-right: 5%;
  }
}
