.directions {
  @include container();
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 35px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.directions__title {
  margin-top: 33px;
  margin-bottom: 5px;
  color: $red-peach;

  @include font-thin(36px, 59px);

  @include tablet {
    margin-top: 0;
    margin-bottom: 11px;

    @include font-thin(30px, 49px);
  }

  @include desktop {
    margin-bottom: 13px;

    @include font-thin(48px, 79px);
  }
}

.directions__business {
  margin: 0;
  min-width: 289px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 44%;
  }

}

.directions__img {
  width: 100%;
}

.directions__info {
  margin-bottom: 20px;
}

.directions__desc {
  margin-top: 10px;
  margin-bottom: 21px;
  @include font-light(16px, 27px);

  @include tablet {
    @include font-light(12px, 20px);
    margin-bottom: 18px;
  }

  @include desktop {
    @include font-light(16px, 26px);
    margin-top: 19px;
    margin-bottom: 29px;
  }
}

.directions__link {
  @include redbutton(158px, 48px, 16px, 26px, 22px);

  @include tablet {

    @include redbutton(125px, 38px, 12px, 20px, 20px);
  }

  @include desktop {
    margin-left: 3px;
    @include redbutton(158px, 48px);
  }
}
