.feedback {
  @include container();
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 140px;
  }
}

.feedback__title {
  position: relative;
  @include title($navi-blue, 42px, 49px, 30px, 35px, 42px, 49px, transparent, none);

  @include red-line(80px, -34px);

  @include tablet {
    margin-left: 128px;
    margin-bottom: 66px;

    @include red-line(101px, 18px, -128px);
  }

  @include desktop {
    margin-left: 170px;
    margin-bottom: 94px;

    @include red-line(143px, 25px, -170px);
  }
}

.feedback__form {
  padding-top: 344px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/svg-sprite/investment.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 290px 290px;

  &--contacts {
    background-image: url("../img/svg-sprite/feedback.svg");
    background-size: 280px 208px;
  }

  @include tablet {
    padding-top: 0;
    padding-left: 192px;
    background-position: left top 12px;
    background-size: 150px 150px;
    position: relative;

    &--contacts {
      background-position: left -37px top 37px;
      background-size: 200px 148px;
    }
  }

  @include desktop {
    padding-top: 0;
    padding-left: 417px;
    background-position: left top 12px;
    background-size: 314px 312px;

    &--contacts {
      background-position: left -75px top 12px;
      background-size: 419px 311px;
    }
  }
}

.feedback__btn {
  border: none;
  background-color: transparent;
  @include redbutton(134px, 48px, 16px, 26px, 21px);

  @include tablet {
    position: absolute;
    bottom: 42px;
    right: 0;
  }

  @include desktop {

  }
}

.feedback__input-box {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.feedback__input,
.feedback__textarea {
  width: 100%;
  height: 65px;
  color: $blue;
  @include font-regular(24px, 28px);
  border: none;
  border-bottom: 1px solid $gray;
}

.feedback__textarea {
  margin-top: 25px;
  height: 50px;
}

.feedback__label {
  position: absolute;
  top: 30px;
  left: 0;
  padding-top: 10px;
  transition: top 0.6s;
  pointer-events: none;
  color: $blue;
  @include font-thin(18px, 21px);

  sup {
    @include font-light(18px, 21px);
    color: $red-peach;
  }
}

.feedback__input-box input:focus ~ label,
.feedback__input-box textarea:focus ~ label,
.feedback__input-box input:valid ~ label {
  top: -5px;
  left: 0;
  @include font-light(14px, 16px);
}

.feedback__input-box input,
.feedback__input-box textarea {
  outline: none;
}

.feedback__file-upload {
  width: 100%;
  height: 52px;
  margin-top: 12px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;

  input[type="file"] {
    display: none;
  }

  &:hover label span {
    color: $red-peach;
  }

  label {
    padding-top: 0;
    padding-left: 37px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    span {
      @include font-light(16px, 19px);
      text-decoration: underline;
      color: $blue;
      line-height: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 24px;
      height: 24px;
      background-image: url("../img/svg-sprite/attached-file.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include tablet {
    margin-top: 14px;
  }
}

.feedback__filename {
  margin-bottom: 15px;
  background: #fff;
  border: 0;
  color: $blue;
}

//
//.feedback__input-box input:-webkit-autofill {
//  @include heliosc-bold;
//  border: 1px solid transparent;
//  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
//  -webkit-text-fill-color: $main-bg !important; /* цвет текста */
//}

//.feedback__input-box input:-webkit-autofill ~ label {
//  @include heliosc-bold;
//  color: $main-bg;
//}

/*
.feedback__input-box input.error {
  border: 1px solid #ff5a4b !important;
}


.feedback__input-box input.error ~ label.error {
  display: block;
  margin-left: 25px;
  @include heliosc-bold;
  font-size: 11px;
  line-height: 15px;
  color: $light-bg;
  text-transform: uppercase;
  text-align: left;
  position: unset;
  margin-top: 10px;

  @include desktop {
    position: absolute;
    left: 0;
    top: 60px;
  }
} */
