.feedback {
  @include container();
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 65px;
  }

  @include desktop {
    margin-bottom: 150px;
  }
}

.feedback__title {
  position: relative;
  @include title($blue, 42px, 49px, 30px, 35px, 42px, 49px, transparent, none);

  @include red-line(80px, -34px);
}

.feedback__form {
  padding-top: 357px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/svg-sprite/investment.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 290px 290px;

  @include tablet {
    padding-top: 0;
    padding-left: 195px;
    background-position: left top;
    background-size: 150px 150px;
    position: relative;
  }

  @include desktop {
    padding-top: 0;
    padding-left: 417px;
    background-position: left top;
    background-size: 310px 310px;
  }
}

.feedback__label--file {

}

.feedback__btn {
  border: none;
  background-color: transparent;
  @include redbutton(134px, 48px, 16px, 26px, 21px);

  @include tablet {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.feedback__input-box {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.feedback__input,
.feedback__textarea {
  width: 100%;
  height: 75px;
  color: $blue;
  @include font-regular(24px, 28px);
  border: none;
  border-bottom: 1px solid $gray;
}

.feedback__label {
  position: absolute;
  top: 20px;
  left: 0;
  padding-top: 10px;
  transition: top 0.6s;
  pointer-events: none;
  color: $blue;
  @include font-thin(18px, 21px);

  span {
    @include font-light(18px, 21px);
    color: $red-peach;
  }

  &--file {
    text-decoration: underline;
    padding-left: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;

    span {
      color: $blue;
      line-height: 36px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-image: url("../img/svg-sprite/attached-file.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.feedback__input-box input:focus ~ label,
.feedback__input-box textarea:focus ~ label,
.feedback__input-box input:valid ~ label {
  top: -14px;
  left: 0;
  @include font-light(14px, 16px);
}

.feedback__input-box input,
.feedback__input-box textarea {
  outline: none;
}

.feedback__file-upload {
  position: relative;
  overflow: hidden;

  &:hover {
    color: $red-peach;
  }

  input[type="file"] {
    display: none;
  }
}

//
//.feedback__input-box input:-webkit-autofill {
//  @include heliosc-bold;
//  border: 1px solid transparent;
//  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
//  -webkit-text-fill-color: $main-bg !important; /* цвет текста */
//}

//.feedback__input-box input:-webkit-autofill ~ label {
//  @include heliosc-bold;
//  color: $main-bg;
//}

/*
.feedback__input-box input.error {
  border: 1px solid #ff5a4b !important;
}


.feedback__input-box input.error ~ label.error {
  display: block;
  margin-left: 25px;
  @include heliosc-bold;
  font-size: 11px;
  line-height: 15px;
  color: $light-bg;
  text-transform: uppercase;
  text-align: left;
  position: unset;
  margin-top: 10px;

  @include desktop {
    position: absolute;
    left: 0;
    top: 60px;
  }
} */
