.footer {
  @include container();
  width: 100%;
  padding-bottom: 30px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/svg-sprite/f4n.svg");
  background-repeat: no-repeat;
  background-position: left 20px bottom -30px;
  background-size:  900px 430px;

  @include tablet {
    height: 142px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 0;
    background-position: left 300px top 0;
    background-size:  862px 274px;
  }

  @include desktop {
    height: 190px;
    padding-top: 17px;
    background-position: left 400px top 0;
  }
}

.footer__logo {
  margin-top: 3px;
  width: 140px;
  height: 39px;
  margin-bottom: 15px;
  margin-left: 0;

  @include tablet {
    width: 90px;
    height: 25px;
    margin-top: 5px;
    margin-left: 0;
  }

  @include desktop {
    width: 170px;
    height: 48px;
    margin-top: 18px;
  }
}

.footer__wrap {

  @include tablet {
  width: 180px;

    .footer__text {
      width: 100%;
    }
  }

  @include desktop {
    width: 320px;
  }
}

.footer__text {
  width: 276px;

  @include tablet {
    margin: 0;
    width: 210px;

    @include font-light(12px, 20px);
  }

  @include desktop {
    margin-top: 20px;
    width: 280px;

    @include font-light();
  }

}

.footer__contacts {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 0;

  @include tablet {
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .contacts__link--mailto {
      @include font-light(12px, 20px);
      @include underline-lose-hover(1px, 2px, $default-font-color, $default-font-color);
    }

    .contacts__link--call {
      @include font-bold(12px, 20px);
      @include underline-appear-hover(1px, 2px, $default-font-color, $default-font-color);
    }
  }

  @include desktop {
    .contacts__link--mailto {
      @include font-light();
    }

    .contacts__link--call {
      @include font-bold();
    }
  }
}

.footer__menu {
  @include desktop {
    width: 130px;
  }
}

.footer__menu .menu__list {
  flex-direction: column;

  .menu-item a {
    color: $sky-blue;
  }

  @include tablet {
    margin: 0;
    padding: 0;
    width: 70px;
    @include font-light(12px, 20px);

    .menu-item::before {
      top: 5px;
    }
  }

  @include desktop {
    margin-top: 17px;
    margin-right: 0;
    width: 130px;
    @include font-light();
  }
}

.footer__up-btn {
  position: fixed;
  right: 5px;
  bottom: 60px;
  width: 48px;
  height: 48px;
  font-size: 0;
  background-color: $button;
  z-index: 1000;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 48px;
    height: 48px;
    border: 1px solid $button;
  }

  &::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 11px;
    width: 25px;
    height: 10px;
    background-image: url('../img/svg-sprite/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(-90deg);
  }

  &:hover {
    transform: translate(3px, 3px);

    &::before {
      top: 0;
      left: 0;
    }
  }

  &:active {
    background-color: $button-active;
  }
}
