.header {
  @include container();
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: $white;
  height: 54px;
  position: fixed;
  top: 0;
  z-index: 10;

  &--opened {
    height: auto;
    flex-wrap: wrap;
  }

  @include tablet {
    height: 62px;
  }

  @include desktop {
    height: 88px;
  }
}

.header__logo {
  width: 100px;
  height: 29px;
  background-color: $white;
  background-image: url("../img/svg-sprite/logo-main.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    width: 90px;
    height: 25px;
  }

  @include desktop {
    width: 137px;
    height: 38px;
  }
}

.header__burger {
  margin-left: auto;
  margin-top: 5px;
  width: 23px;
  height: 15px;
  border: none;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/svg-sprite/burger-closed.svg");
  background-repeat: no-repeat;
  background-position: cover;
  cursor: pointer;
  outline: none;

  &--opened {
    width: 20px;
    height: 20px;
    background-image: url("../img/svg-sprite/burger-opened.svg");
  }

  @include tablet {
    display: none;
  }
}

.header__contacts {
  display: none;
  align-self: stretch;

  &--opened {
    display: block;
  }

  @include tablet {
    display: none;
  }
}
