.invitation {
  @include container();
  margin-bottom: 80px;
  width: 284px;
  height: 256px;
  background-image: url("../img/svg-sprite/bg-red-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  @include tablet {
    margin-bottom: 25px;
    width: 668px;
    height: 198px;
    background-image: url("../img/svg-sprite/bg-red-tablet.svg");
  }

  @include desktop {
    margin-bottom: 70px;
    width: 1270px;
    height: 283px;
    background-image: url("../img/svg-sprite/bg-red.svg");
    background-size: 1170px;
  }

}

.invitation__text {
  color: $white;
  padding: 28px 18px;
  @include font-light(24px, 28px);

  span {
    @include font-bold(24px, 28px);
  }

  @include tablet {
    padding: 0;
    padding-top: 37px;
    @include font-light(24px, 28px);

    span {
      @include font-bold(24px, 28px);
    }
  }

  @include desktop {
    padding: 50px 71px 0 74px;
    @include font-light(42px, 49px);

    span {
      @include font-bold(42px, 49px);
    }
  }
}
