.leaders {
  @include container();
  padding-top: 0;
  padding-bottom: 0;

  @include desktop {
    margin-bottom: 30px;
  }
}

.leaders__wrap {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 48px;
    flex-direction: row;
  }
}

.leaders__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.leaders__title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  @include title($navi-blue, 42px, 49px, 30px, 35px, 42px, 49px, transparent, none);

  @include red-line(80px, -23px);

  @include tablet {
    margin-bottom: 16px;
    padding-left: 123px;
    width: auto;

    @include red-line(100px, 17px);
  }

  @include desktop {
    padding-left: 187px;

    @include red-line(143px, 26px);
  }
}

.leaders__text {
  color: $navi-blue;
  margin-bottom: 46px;
  padding: 0;

  @include font-light(18px, 29px);

  @include tablet {
    margin-top: 0;
    margin-bottom: 43px;
    padding-left: 123px;

    @include font-light(12px, 20px);
  }

  @include desktop {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 80px;
    width: 66%;

    @include font-light(20px, 33px);
  }
}
