.leaders {
  @include container(18px, 18px, 50px, 50px, 27px, 27px);
  padding-top: 0;
  padding-bottom: 0;

  @include desktop {
    margin-bottom: 30px;
  }
}

.leaders__wrap {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.leaders__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.leaders__title {
  width: 100%;
  margin-bottom: 13px;
  position: relative;

  @include title($navi-blue, 42px, 49px, 30px, 35px, 42px, 49px, transparent, none);

  @include red-line(80px, -37px);

  @include tablet {
    padding-left: 123px;
    width: auto;

    @include red-line(100px, 17px);
  }

  @include desktop {
    padding-left: 190px;

    @include red-line(143px, 26px);
  }
}

.leaders__text {
  color: $blue;
  margin-bottom: 46px;
  padding: 0;

  @include font-light(18px, 29px);

  @include tablet {
    margin-bottom: 40px;
    width: 55%;

    @include font-light(14px, 23px);
  }

  @include desktop {
    margin-top: 30px;
    margin-left: 0;
    width: 55%;

    @include font-light(20px, 33px);
  }
}
