.logo {
  width: 124px;
  height: 34px;
  background-color: $white;
  background-image: url("../img/svg-sprite/logo-main.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    width: 100px;
    height: 28px;
  }

  @include desktop {
    width: 150px;
    height: 45px;
  }
}
