.logo {
  width: 100px;
  height: 29px;
  background-color: $white;
  background-image: url("../img/svg-sprite/logo-main.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    width: 90px;
    height: 25px;
  }

  @include desktop {
    width: 137px;
    height: 38px;
  }
}
