.main {
  margin-top: 54px;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: $white;
  flex-grow: 1;

  &--contacts {
    margin-top: 104px;

    @include tablet {
      margin-top: 54px;
    }
  }

  @include desktop {
    margin-top: 88px;
  }
}

.main__hero {

  @include container(0, 0, 50px, 0, 50px, 0);
  padding-top: 55%;
  padding-bottom: 41px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  &--about {

    @include header-img('about');
  }

  &--investors {
    padding-bottom: 44px;
    @include header-img('investors');

    .main__text {
      @include font-light(20px, 33px);

      @include tablet {
        margin-top: 50px;
      }

      @include desktop {
        margin-top: 95px;
      }
    }
  }

  &--startups {
    padding-bottom: 65px;
    @include header-img('startups');

    .main__text {

      @include font-light(20px, 33px);
    }
  }

  @include tablet {
    margin-bottom: 40px;
    padding-top: 0;
    padding-bottom: 0;
    height: 227px;
    flex-direction: row;

    &--about,
    &--investors,
    &--startups {
     .main__text {
        @include font-light(12px, 20px);
      }
    }

    &--investors {
      margin-bottom: 46px;
    }
  }

  @include tablet-maxi {
    &--about,
    &--investors,
    &--startups {
     .main__text {
        width: 50%;
        @include font-light(16px, 26px);
      }
    }
  }

  @include desktop {
    margin-bottom: 63px;
    height: 382px;

    &--about,
    &--investors,
    &--startups {
     .main__text {
        @include font-light(20px, 33px);
      }
    }
  }
}

.main__title {
  color: $red-peach;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 28px;
  margin-bottom: 22px;

  @include font-thin(70px, 66px);

  @include tablet {
    padding-left: 0;
    padding-right: 0;
    margin-top: 55px;
    margin-bottom: 0;
    width: 197px;
    @include font-thin(44px, 41px);
  }

  @include desktop {
    margin-top: 98px;
    width: 34%;

    @include font-thin(88px, 83px);
  }
}

.main__subtitle {

  @include title($navi-blue, 42px, 49px, 30px, 35px, 42px, 49px);
}

.main__text {
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;

  @include font-light(16px, 27px);

  &--blue {
    color: $blue;
  }

  @include tablet {

    @include font-light(12px, 20px);
    margin-top: 40px;
    padding: 0;
    width: 307px;
  }

  @include desktop {

    @include font-light();
    margin-top: 98px;
    width: 522px;

  }
}
