.main {
  margin-top: 54px;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: $white;
  flex-grow: 1;

  @include tablet {
    margin-top: 62px;
  }

  @include desktop {
    margin-top: 88px;
  }

}

.main__hero {

}

.main__title {
  @include font-thin(32px, 38px);

  span {
    @include font-bold(32px, 38px);
  }

  @include tablet {
    @include font-thin(24px, 28px);

    span {
      @include font-bold(24px, 28px);
    }
  }

  @include desktop {
    @include font-thin(46px, 54px);

    span {
      @include font-bold(46px, 54px);
    }
  }
}

.main__text {

  @include font-light();

  @include tablet {

    @include font-light(12px, 20px);
  }

  @include desktop {

    @include font-light();
  }
}

.main__wrap {

}

.main__invitation {

}
