.menu {
  background-color: $white;
  color: $blue;

  &--opened {
    width: 100%;

    .menu__list {
      display: flex;
    }
  }
}

.menu__list {
  margin: 0;
  padding: 0;
  margin-top: 46px;
  padding-left: 48px;
  width: 100%;
  list-style: none;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  @include tablet {
    margin-top: 0;
    width: 355px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }

  @include desktop {
    width: 460px;
  }
}

.menu-item {

  a {
    color: $blue;
    text-decoration: none;

    @include font-light(24px, 53px);
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    @include tablet {

      @include font-light(12px, 14px);
    }

    @include desktop {

      @include font-light(15px, 18px);
    }
  }

  &--active {
    position: relative;

    a {
      @include font-bold(24px, 53px);
    }

    &::before {
      content: "";
      position: absolute;
      left: -48px;
      top: 22px;
      width: 30px;
      height: 10px;
      background-image: url('../img/svg-sprite/arrow-red.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    @include tablet {
      padding-left: 18px;

      a {
        @include font-bold(12px, 14px);
      }

      &::before {
        left: 0;
        top: 9px;
        width: 12px;
      }
    }

    @include desktop {
      padding-left: 24px;

      a {
        @include font-bold(15px, 18px);
      }

      &::before {
        top: 8px;
        width: 17px;
      }
    }
  }
}
