.persona {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;

  &--team1 {
    margin-bottom: 34px;
  }

  &--team2 {
    margin-bottom: 38px;

    .persona__wrap {
      top: -137px;
      left: 106px;
    }
  }

  &--team3 {
    .persona__wrap {
      top: -137px;
      left: 106px;
    }
  }

  @include tablet {
    flex-direction: row;
    margin-bottom: 0;

    &--team1,
    &--team2 {
      max-width: 297px;
      margin-bottom: 50px;
    }

    &--team3 {
      max-width: 297px;
    }

    &--lider1 {
      max-width: 325px;
      margin-right: 24px;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    &--lider2 {
      max-width: 325px;
      margin-top: 125px;
      margin-right: 6px;
    }
  }

  @include desktop {

    &--team1,
    &--team2,
    &--team3 {
      max-width: 349px;
    }

    &--lider1 {
      max-width: 547px;
      margin-right: 57px;
    }

    &--lider2 {
      max-width: 547px;
      margin-top: 186px;
      margin-right: 0;
    }
  }
}

.persona__img {

}

.persona__info {
  width: 160px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    width: 178px;
    margin-left: 34px;
    margin-top: -5px;

    &--right {
      align-items: flex-end;
      margin-left: 0;
      margin-right: 34px;

      .persona__title,
      .persona__email,
      .persona__post,
      .persona__desc {
        text-align: right;
      }

      .persona__wrap::after {
        top: 64px;
        left: auto;
        right: -40px;
      }
    }

    &--team {
      width: 193px;

      .persona__wrap::after {
        top: 75px;
      }
    }
  }

  @include desktop {
    width: 292px;
    margin-left: 40px;
    margin-top: -2px;

    .persona__email,
    .persona__post {
      margin-left: 50px;
    }

    &--right {
      align-items: flex-end;
      margin-left: 0;
      margin-right: 41px;

      .persona__email,
      .persona__post {
        margin-left: 0;
        margin-right: 47px;
      }

      .persona__wrap::after {
        top: 127px;
        left: auto;
        right: 0;
      }
    }

    &--team {
      width: 200px;
      margin-right: 0;
      margin-left: 28px;

      .persona__email,
      .persona__post {
        margin-left: 0;
        width: 200px;
      }

      .persona__wrap::after {
        top: 90px;
        left: -40px;
      }

      .persona__desc {
        width: 200px;
        margin-top: 15px;
        @include font-light(13px, 21px);
      }
    }
  }
}

.persona__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include title($navi-blue, 24px, 28px, 24px, 28px, 36px, 42px, transparent, uppercase);

  @include desktop {
    margin-bottom: 15px;
  }

  &--team {
    margin-top: 4px;
    width: 140px;
    @include title($navi-blue, 24px, 28px, 18px, 21px, 24px, 28px, transparent, uppercase);

    @include desktop {
      margin-bottom: 12px;
    }
  }

}

.persona__wrap {
  display: flex;
  flex-direction: column;
  color: $blue;
  position: absolute;
  top: -150px;
  left: 110px;

  &::after {
    content: "";
    position: absolute;
    top: 90px;
    left: -40px;
    width: 40px;
    height: 1px;
    border-top: 1px solid $red-peach;
    transform: rotate(-45deg);
    z-index: -1;
  }

  @include tablet {
    position: static;
    width: 170px;
  }

  @include desktop {
    width: 180px;

    &::after {
      top: 117px;
      left: 0;
    }
  }
}

.persona__post {

  @include font-bold(14px, 23px);

  @include tablet {

    @include font-bold(12px, 20px);
  }

  @include desktop {

      @include font-bold(14px, 23px);
  }
}

.persona__email {

  @include font-light(14px, 23px);

  @include tablet {

    @include font-light(12px, 20px);
  }

  @include desktop {

      @include font-light(14px, 23px);
  }
}

.persona__desc {
  width: 284px;
  margin-top: 10px;
  @include font-light(14px, 23px);

  @include tablet {
    width: 100%;

    @include font-light(12px, 20px);
  }

  @include desktop {
    width: 270px;
    margin-top: 23px;
    @include font-light(14px, 23px);
  }

  &--team {
    margin-top: 9px;
    @include font-light(13px, 21px);

    @include tablet {
      margin-top: 15px;

      @include font-light(11px, 18px);
    }

    @include desktop {
      margin-top: 15px;

      @include font-light(11px, 18px);
    }
  }
}
