.persona {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  min-width: 283px;
  max-width: 50%;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    margin-bottom: 0;

    &--lider1 {
      max-width: 400px;
      margin-right: 24px;
      flex-direction: row-reverse;
      justify-content: flex-end;
      position: relative;
    }

    &--lider2 {
      max-width: 400px;
      margin-top: 125px;
      margin-right: 6px;
    }
  }

  @include desktop {

    &--lider1 {
      max-width: 547px;
      margin-right: 57px;
    }

    &--lider2 {
      max-width: 547px;
      margin-top: 186px;
      margin-right: 0;
    }
  }
}

.persona__info {
  width: 160px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    width: 250px;
    margin-left: 34px;
    margin-top: -5px;

    &--right {
      align-items: flex-end;
      margin-left: 0;
      margin-right: 34px;

      .persona__title,
      .persona__email,
      .persona__post,
      .persona__desc {
        text-align: right;
      }

      .persona__email {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  @include desktop {
    width: 292px;
    margin-left: 40px;
    margin-top: -2px;

    .persona__email,
    .persona__post {
      margin-left: 50px;
    }

    &--right {
      align-items: flex-end;
      margin-left: 0;
      margin-right: 41px;

      .persona__email,
      .persona__post {
        margin-left: auto;
        margin-right: 47px;
      }
    }
  }
}

.persona__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include title($navi-blue, 24px, 28px, 24px, 28px, 36px, 42px, transparent, uppercase);

  @include desktop {
    margin-bottom: 15px;
  }
}

.persona__wrap {
  display: flex;
  flex-direction: column;
  color: $blue;
  position: absolute;
  top: -150px;
  left: 110px;

  @include tablet {
    position: static;
    width: 170px;
  }

  @include desktop {
    width: 180px;
  }
}

.persona__post {

  @include font-bold(14px, 23px);

  @include tablet {

    @include font-bold(12px, 20px);
  }

  @include desktop {

      @include font-bold(14px, 23px);
  }
}

.persona__email {
  margin-right: auto;
  @include font-light(14px, 23px);
  @include underline-lose-hover(1px, 0, $default-font-color, $default-font-color);

  @include tablet {
    @include font-light(12px, 20px);
  }

  @include desktop {

      @include font-light(14px, 23px);
  }
}

.persona__desc {
  width: 284px;
  margin-top: 10px;
  @include font-light(18px, 30px);

  @include tablet {
    width: 100%;

    @include font-light(14px, 23px);
  }

  @include desktop {
    width: 270px;
    margin-top: 23px;
    @include font-light(20px, 33px);
  }
}
