.result {
  @include container();
  margin-bottom: 105px;
  padding-top: 390px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/svg-sprite/libra.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 285px;

  @include tablet {
    margin-bottom: 34px;
    padding-top: 0;
    background-position: top 30px right 50px;
    background-size: 244px;
  }

  @include desktop {
    margin-bottom: 145px;
    background-position: top 40px right 200px;
    background-size: 372px;
  }

}

.result__text {
  margin-bottom: 38px;
  position: relative;
  @include title-light($navi-blue, 24px, 39px, 24px, 39px, 36px, 59px, transparent, none);

  @include red-line(80px, -30px);

  &:last-child::before {
    width: 194px;
  }

  @include tablet {

    @include red-line(80px, -36px);
    width: 49%;
    padding: 0;
    margin-bottom: 52px;
  }

  @include desktop {
    margin-bottom: 22px;
    width: 47%;

    @include red-line(72px, -106px);

    &:last-child::before {
      top: -25px;
    }
  }
}
