.strategy {
  @include container();
  margin-bottom: 17px;

  @include tablet {
    margin-bottom: 100px;
  }
}

.strategy__title {
  width: 230px;
  margin-bottom: 89px;
  position: relative;

  @include red-line(80px, -37px);

  @include tablet {
    padding-left: 123px;
    width: auto;

    @include red-line(100px, 17px);
  }

  @include desktop {
    padding-left: 190px;

    @include red-line(143px, 26px);
  }
}

.strategy__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 61px;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-left: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";
      width: 177px;
    }
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.strategy__item {
  padding-top: 0;
  padding-bottom: 94px;
  color: $blue;
  @include font-light(18px, 30px);
  position: relative;

  span {
    border-bottom: 1px solid $red-peach;
  }

  &::before {
    content: "";
    position: absolute;
    top: -195px;
    left: -61px;
    height: 324px;
    width: 150px;
    @include font-thin(222px, 364px);
    color: $default-font-color;
    opacity: 0.08;
  }

  &:nth-child(1)::before {
    content: "a";
  }

  &:nth-child(2)::before {
    content: "b";
  }

  &:nth-child(3)::before {
    content: "c";
  }

  &:nth-child(4)::before {
    content: "d";
  }

  &:nth-child(5)::before {
    content: "e";
  }

  @include tablet {
    width: 177px;
    padding-top: 0;
    padding-bottom: 0;

    @include font-light(14px, 23px);

    &::before {
      top: -120px;
      left: -40px;
      height: 324px;
      width: 150px;

      @include font-thin(144px, 236px);
    }

    &:nth-child(1) {
      padding-top: 20px;
    }

    &:nth-child(2) {
      margin-top: 60px;
    }

    &:nth-child(3) {
      margin-top: 20px;
    }

    &:nth-child(4) {
      margin-top: 20px;
    }

    &:nth-child(5) {
      margin-top: 60px;
    }
  }

  @include desktop {
    width: 252px;
    margin-right: 87px;
    margin-left: 70px;

    @include font-light(20px, 33px);

    &::before {
      top: -230px;
      left: -80px;

      @include font-thin(288px, 472px);
    }

    &:nth-child(1) {
      padding-top: 20px;
    }

    &:nth-child(2) {
      margin-top: 60px;
      margin-right: 90px;
    }

    &:nth-child(3) {
      margin-top: 20px;
      margin-right: 0;
    }

    &:nth-child(4) {
      margin-top: 20px;
    }

    &:nth-child(5) {
      margin-top: 60px;
    }
  }
}
