.strategy {
  @include container();
  margin-bottom: 0;

  @include tablet {
    margin-bottom: 18px;
  }

  @include desktop {
    margin-bottom: 53px;
  }
}

.strategy__title {
  width: 230px;
  margin-bottom: 47px;
  position: relative;

  @include red-line(80px, -23px);

  @include tablet {
    margin-bottom: 36px;
    padding-left: 123px;
    width: auto;

    @include red-line(100px, 17px);
  }

  @include desktop {
    margin-bottom: 0;
    padding-left: 187px;

    @include red-line(143px, 26px);
  }
}

.strategy__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  padding-left: 61px;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-left: 0;
    width: 100%;
    max-width: 710px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";
      width: 177px;
    }
  }

  @include desktop {
    max-width: 1170px;
    justify-content: flex-start;
  }
}

.strategy__item {
  padding-top: 0;
  padding-bottom: 45px;
  color: $blue;
  @include font-light(18px, 30px);
  position: relative;

  span {
    border-bottom: 1px solid $red-peach;
  }

  &::before {
    content: "";
    position: absolute;
    top: -120px;
    left: -40px;
    height: 324px;
    width: 150px;
    @include font-thin(160px, 262px);
    color: $default-font-color;
    opacity: 0.08;
  }

  &:nth-child(1)::before {
    content: "a";
  }

  &:nth-child(2)::before {
    content: "b";
  }

  &:nth-child(3)::before {
    content: "c";
  }

  &:nth-child(4)::before {
    content: "d";
  }

  &:nth-child(5)::before {
    content: "e";
  }

  @include tablet {
    width: 165px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include font-light(12px, 20px);

    &::before {
      top: -100px;
      left: -40px;
      height: 324px;
      width: 150px;

      @include font-thin(144px, 236px);
    }

    &:nth-child(2) {
      margin-top: 76px;
    }

    &:nth-child(4) {
      margin-top: 15px;
    }

    &:nth-child(5) {
      margin-top: 45px;
    }
  }

  @include desktop {
    width: 250px;
    margin-top: 40px;
    margin-right: 87px;
    margin-left: 70px;

    @include font-light(18px, 30px);

    &::before {
      top: -160px;
      left: -85px;

      @include font-thin(220px, 364px);
    }

    &:nth-child(2) {
      width: 256px;
      margin-top: 135px;
      margin-right: 90px;
    }

    &:nth-child(3) {
      margin-top: 38px;
      margin-right: 0;
    }

    &:nth-child(4) {
      margin-top: 50px;
      margin-left: 72px;
    }

    &:nth-child(5) {
      margin-top: 73px;
    }
  }
}
