.team {
  @include container();
  margin-bottom: 86px;

  @include tablet {
    margin-bottom: 72px;
  }

  @include tablet {
    margin-bottom: 110px;
  }
}

.team__title {
  width: 210px;
  margin-bottom: 49px;
  position: relative;

  @include red-line(80px, -37px);

  @include tablet {
    margin-bottom: 58px;

    &::before {
      left: auto;
      top: -384px;
      right: -161px;
      width: 161px;
      height: 404px;
      border-top: 1px solid $red-peach;
      border-right: 1px solid $red-peach;
      z-index: -1;
    }
  }

  @include desktop {
    margin-bottom: 108px;
    width: 333px;

    &::before {
      top: -503px;
      right: -385px;
      width: 385px;
      height: 532px;
    }
  }
}

.team__wrap {
  display: flex;
  flex-direction: column;

  @include tablet {
    max-width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    max-width: 100%;
  }
}
